.hero-unit

  %p It may be called third-party authentication, but it's first in my heart.

  %p
    The idea is to delegate user authentication to a service other than you own. In turn, you get to take advantage of its niceties, such as:
    %ul
      %li Not having to roll your own password retrieval
      %li Delegating password security responsibilities to a service that knows how to do it securely
      %li Getting additional information about your users
      %li Integrating your service with another service's API

  %p Here's a quick sample project that uses Omniauth to use Facebook to log in.

  - if current_user
    %p Welcome back, #{@current_user.name}! If this is not you, #{link_to 'click here to log out', signout_path, method: :delete}.
  - else
    %h3 Give it a spin!
    = link_to 'Connect with Facebook', 'auth/facebook', class: 'btn btn-large btn-primary'