%h1 Third-Party Authentication

%p It may be called third-party authentication, but it's first in my heart.

%p
  The idea is to delegate user authentication to a service other than you own.
  In turn, you get to take advantage of their niceties.
  %ul
    %li Don't have to deal with password resetting and retrieval
    %li Don't have to worry about hackers compromising user passwords (hi Adobe!)
    %li If needed, can grab additional information about the user (their friends, etc.)